body{
    font-family: Roboto, sans-serif;
    background-color: #a4c5f0;
}

h1{
    font-family: Pacifico, cursive;
    font-weight: bold;
    color:#fff;
}

.logowar{
    width: 250px;
}

.navbar{
    background-color: #052385;
}

#cabeçalho .nav .nav-link.active{
    background-color: rgb(12, 130, 199);
    color: #020000;
}

#cabeçalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #a4c5f0;
}

.navbar-toggler{
    background-color: #abdbf7;
}

.exercitos img{
    height: 300px;
}

.section-title{
    font-family: Pacifico, cursive;
}

#sobreRS, #cardápio{
    background-color: #8daafa;
}

#eventos img{
    height: 300px;
    justify-content: center;
} 

.text-colorir{
    color: #052385;
}

.nav-cardapio .nav-link.active,
#contato button{
    background-color: #052385;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #052385;
}

#Redes li{
    list-style: none;
    display: inline;
}

#Redes a{
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}